# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
env/
.venv/
.env

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
celery_data/
logs/

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db